

@font-face {
  font-family: Dominique;
  src: url('Dominique.ttf');
}

@font-face {
  font-family: TravelingTypewriter;
  src: url('TravelingTypewriter.ttf');
}

@font-face {
  font-family: ATypewriterForMe;
  src: url('ATypewriterForMe.ttf');
}

@font-face {
  font-family: Crim;
  src: url('Crimson.ttf');
}


body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(fond2.JPG); background-position: center top; background-size: auto ;
  background-repeat:repeat;
	font-family: 'ATypewriterForMe';
	font-size: 12pt;
	color: #3B3B3B;
}

body.image{
	margin: 0;
	padding: 0;
	background: #000000; background-size: auto ;
  background-repeat: no-repeat;
	font-family: 'ATypewriterForMe';
	font-size: 12pt;
	color: #3B3B3B;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	font-family: 'TravelingTypewriter';
	font-weight: normal;
	color: #3D2729;
}

h1 {
	font-size: 2em;
	text-transform: uppercase;
}

h2 {
	letter-spacing: 1px;
	font-size: 2em;
  text-align: center;
  text-transform:none;
  color: #FFFFFF;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration:none;
	color: #046380;
  font-weight: normal;
}

a:hover {
  color: #046380;
  font-weight:bold;
}

a.ancrage {
	text-decoration:none;
	color: #046380;
  font-weight: bold;
}

a.ancrage:hover {
  color: #1f1c3c;
  font-weight:normal;
}

figure {
    display:inline-block;
    margin: 10px auto;
    padding: 0px

}

figure img {
    vertical-align:top;
}
figure figcaption {
    font-size: 8pt;
    font-style: italic;
    text-align: right;
    padding-top: 5px ;
}
figure a.equipage:hover {
  font-weight: normal;
  font-style: normal;
  position: relative;
  z-index: 5;
}

figure a:hover img {
  opacity: 0.4;
  transition: .5s ease;
}

figure a.koolkid:hover::before, figure a.koolkid:hover::after {
  content: '•';
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
}
figure a.camille:hover::before {
  top: 32px;
  left: 85px;
  font-size: 7em;
}
figure a.camille:hover::after {
  top: 32px;
  left: 130px;
  font-size: 7em;
}


/* Header */

#header-wrapper {
}

#header {
	clear: both;
	width: 1100px;
	margin: 0px auto;
}

/* Logo */

#logo {
	margin: 0px;
	padding: 30px 0px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 5em;
	font-family: 'Dominique', sans-serif;
	font-weight: 400;
	color: #FFFFFF;
}

#logo h1 span {
	color: #F6B300;
}

#logo p {
	margin-top: -2em;
	padding: 0px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Dominique';
	font-size: 2em;
	color: #3B3B3B;
}

#logo p a {
	color: #3B3B3B;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #323030;
}


/* Menu */

#menu-wrapper {
	overflow: hidden;
	height: 56px;
}

#menu {
	width: 1100px;
	height: 55px;
	margin: 0px auto;
	padding: 0px;
	background: #6a667b;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
	border-right: 1px solid #FDA408;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	margin: 0px 10px;
	line-height: 55px;
	padding: 0 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Dominique';
	font-size: 20px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: #3D2729;
}

#menu .current_page_item a {
}



/* Submenu */

div#hormenu-wrapper {
	overflow: hidden;
	height: 56px;
}

div#hormenu {
	width: auto;
	height: 55px;
	margin: 0px auto;
	padding: 0px;
	background: #6a667b;
}

div#hormenu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

div#hormenu li {
	display: inline-block;
	border-right: 1px solid #6a667b;
}

div#hormenu a {
	display: block;
	letter-spacing: 1px;
	margin: 15px 10px;
	line-height: 20px;
	padding: 0 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Dominique';
	font-size: 20px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}
div#hormenu ul li ul li a { color : #1f1c3c;}

div#hormenu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: #1f1c3c;
}
div#hormenu ul li ul li a:hover { color : #6a667b; font-size: 16px;}

div#hormenu li ul
{
display: none
}

/* SUBMENU azione tendina */

div#hormenu li:hover ul
{
display: block;
position: absolute;
z-index:3;
width:250px;
padding: 0;
margin: 0 0 0 -1px;
border:1px solid black;
background: #D5D0CD;
}

div#hormenu li li { border:none; width:250px; }
div#hormenu li li a { padding:2px 2px 2px 2px; }



/* Page */

#wrapper
{
	overflow: hidden;
	padding-bottom: 40px;
}

#page {
	overflow: hidden;
	width: 1100px;
	margin: auto;
}



/* Content */

#content {
  float: left;
	width: 1100px;
	background: rgba(255,255,255,0.92);
}

.post {
	margin-bottom: 15px;
	padding: 30px 30px;
}

.post-alt
{
	background: #F0F0F0;
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	font-size: 32px;
}

.post .title a {
	border: none;
	color: #3D2729;
}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-weight: normal;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 100px 0px 100px;
	text-align: justify;
}

.links {
	display: inline-block;
	height: 30px;
	padding: 30px 0px 0px 0px;
	font-size: 14px;
	font-weight: normal;
	color: #1C1C1C;
}

.button
{
	padding: 10px 25px;
	background: #E58703;
	border-radius: 5px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

/* Footer */

#footer {
	width: auto;
	height: 85px;
	margin: 0px auto;
	padding: 0px;
	background: #6a667b;
}

#footer p {
  margin: 0;
	padding-top: 10px;
	line-height: normal;
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
	color: #FFFFFF;
	font-family: 'TravelingTypewriter';
	font-weight: normal;
}

#footer a {
	color: #1f1c3c;
}
#footer a:hover { color : #FFFFFF}

#banner {
	width: 1100px;
	margin: 0px auto;
}

#banner img
{
	border-radius: 8px;
}
